header {
  --header-width: 100%;
  width: var(--header-width);
  margin: auto;
}
.bg-style {
  height: 110vh;
  position: fixed;
  z-index: -1;
}
.active:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12%;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(1);
  border-radius: 10px;
  transition: 0.2s linear;
  opacity: 1;
}
.logo {
  /* width: 150px; */
  cursor: pointer;
  z-index: 99;
}
.nav-bar {
  width: 750px;
  backdrop-filter: blur(20px);
  margin-left: 4rem;
}
.nav-bar .nav-item {
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.nav-bar .nav-item:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12%;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.nav-bar .nav-item:hover::before {
  cursor: pointer;
  transform: scaleX(1);
}
header .btnCart {
  padding: 8px 10px;
  transition: 0.2s linear;
  transform: translateY(-8px);
}
header .btnCart:hover {
  scale: 1.06;
}
header .btnSignIn {
  margin-left: 15px;
  padding: 8px 14px;
  transition: 0.2s linear;
  transform: translateY(-8px);
  backdrop-filter: blur(40px);
  &:hover {
    scale: 1.06;
  }
}
.loading {
  backdrop-filter: blur(30px);
}
.errorText {
  font-size: 10vw;
  font-weight: 900;
  color: #fff;
  text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #bbb, 3px 3px 0 #aaa, 4px 4px 0 #999,
    5px 5px 0 #888, 6px 6px 0 #777, 7px 7px 0 #666, 8px 8px 0 #555,
    9px 9px 0 #444;
  letter-spacing: 5px;
  text-transform: uppercase;
  /* animation: pulse3D 2s infinite alternate; */
}
.btnBack {
  border: 1px solid white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.1s linear;
  &:hover {
    border: 1px solid white;
    box-shadow: 0px 0px 20px dodgerblue;
  }
}
.page404 {
  animation: popUp 0.4s linear;
}
/* For HomePgae */
.gradient-text {
  background: linear-gradient(
    122deg,
    rgba(97, 97, 242, 1) 0%,
    rgba(255, 0, 204, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.btnShopNow {
  transition: 0.2s linear;
  background: linear-gradient(
    122deg,
    rgba(133, 163, 255, 1) 0%,
    rgba(255, 0, 204, 1) 100%
  );
  &:active {
    scale: 0.9;
  }
}
.aboutSony {
  transform: translateY(10rem);
}
.aboutSony .imgAboutSony:hover {
  filter: drop-shadow(0px 0px 6px gold);
}
.product {
  transform: translateY(12rem);
}
.product .cardProduct {
  overflow: hidden;
  transition: 0.2s linear;
}
.product .cardProduct img {
  transition: 0.2s linear;
}
.product .cardProduct .btnDetail {
  top: 3%;
  right: 4%;
  opacity: 0;
  transition: 0.2s linear;
}
.product .cardProduct:hover {
  backdrop-filter: blur(30px);
}
.product .cardProduct:hover img {
  scale: 1.03;
}
.product .cardProduct:hover .btnDetail {
  opacity: 1;
}
.product .cardProduct .btnDetail:hover::before {
  content: "View";
  margin-right: 4px;
}
.product .btnAddToCart {
  transition: 0.1s linear;
  background: linear-gradient(
    122deg,
    rgba(133, 163, 255, 1) 0%,
    rgba(255, 0, 204, 1) 100%
  );
  &:active {
    scale: 0.9;
  }
}
.product .btnBuy {
  transition: 0.1s linear;
  &:active {
    scale: 0.9;
  }
}
.btnViewAll {
  backdrop-filter: blur(20px);
  transition: 0.2s linear;
  i {
    transition: 0.2s linear;
  }
  &:hover i {
    transform: translateX(5px);
  }
}
.Gellery {
  transform: translateY(14rem);
}
.contact {
  transform: translateY(5.8rem);
  backdrop-filter: blur(20px);
  img {
    transition: 0.2s ease-in-out;
  }
  &:hover img {
    scale: 1.02;
  }
}
.contact input {
  display: block;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid white !important;
  outline: none;
  &:focus {
    outline: none;
    border-bottom: 1px solid white !important;
  }
}
.contact .messages {
  width: 100%;
  &::placeholder {
    font-size: 16px;
    color: white;
    font-weight: 300;
  }
}
.contact .btnSubmit {
  transition: 0.2s linear;
  &:hover {
    box-shadow: 0px 2px 4px white;
  }
  &:active {
    scale: 0.9;
  }
}
.contact .controlInput {
  height: 100%;
}
.slider {
  display: flex;
  gap: 1rem;
  border-left: 3px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 3px solid white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(14rem);
  margin: auto;
  overflow: hidden;
}
.slider .slide-track {
  width: calc(300px * 18);
  display: flex;
  gap: 30px;
  animation: tranformX 40s linear infinite;
  &:hover {
    animation-play-state: paused;
  }
}
.slider .slide-track .slide {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: white;
  perspective: 100px;
}

.slider .slide img {
  padding: 10px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  image-rendering: pixelated;
  transition: transform 1s;
  &:hover {
    transform: translateZ(20px);
  }
}
.feedback {
  transform: translateY(16rem);
  .subBtnFeedback {
    font-size: 16px;
    backdrop-filter: blur(20px);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    box-shadow: 0 0 20px rgba(48, 43, 99, 0.6);
    transition: all 0.3s ease;
  }
}
.cardFeedback {
  transition: 0.3s linear;
  &:hover {
    backdrop-filter: blur(30px);
  }
}
/* Sign in style */
.signIn,
.signUp {
  width: 500px;
  backdrop-filter: blur(10px);
}
.signIn .signInEmail::placeholder,
.signIn .signInPassword::placeholder {
  color: white;
  font-weight: 300;
}
.signUp .signUpEmail::placeholder,
.signUp .signUpPassword::placeholder,
.signUp .signUpName::placeholder {
  color: white;
  font-weight: 300;
}
.SignIn .btnSignIn {
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: #00b600b6;
    border: 1px solid #00b600b6 !important;
  }
  &:active {
    scale: 0.9;
  }
}
.SignUp .btnSignUp {
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: #00b600b6;
    border: 1px solid #00b600b6 !important;
  }
  &:active {
    scale: 0.9;
  }
}
.fa-circle-xmark {
  transition: 0.2s linear;
  &:active {
    scale: 0.7;
  }
}
.aboutPage {
  transform: translateY(4rem);
}
.gallery {
  width: min(1200px, 100%);
  margin: 0 auto;
  columns: 3 300px;
  column-gap: 1em;

  .gallery-item {
    position: relative;
    overflow: hidden;
    break-inside: avoid;
    margin-bottom: 1em;

    img {
      display: block;
      width: 100%;
      transition: transform 0.4s ease;
    }

    &:hover img {
      transform: scale(1.1);
    }

    /* Overlay text */
    .overlay-text {
      position: absolute;
      bottom: -100%;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      text-align: center;
      padding: 10px;
      font-weight: 500;
      transition: bottom 0.4s ease;
    }

    &:hover .overlay-text {
      bottom: 0;
    }
  }
}
.shoppingCart {
  transform: translateY(6.8rem);
}
.hide-scrollbar {
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.btnCheckout {
  transition: 0.1s linear;
  &:hover {
    border: 1px solid #00ff007a !important;
    background-color: #00ff007a;
  }
  &:active {
    scale: 0.9;
    border: 1px solid #00ff007a !important;
    background-color: #00ff007a !important;
  }
}
.btnAction button {
  transition: 0.2s linear;
  &:active {
    scale: 0.7;
  }
}
.productDetail {
  width: 80%;
  /* max-width: 900px; */
  border-radius: 10px;
  overflow: hidden;
}

.showdetail {
  background-color: rgba(0, 0, 0, 0.673);
  backdrop-filter: blur(20px);
  width: 100vw !important;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeDetail {
  width: max-content;
  top: 8.3%;
  left: 84.5% !important;
  transition: 0.2s linear;
  &:active {
    scale: 0.9;
  }
}
.childImage {
  transition: 0.2s linear;
  cursor: pointer;
  &:active {
    scale: 0.9;
  }
}
.btnDetail button {
  transition: 0.2s linear;
  &:active {
    scale: 0.9;
  }
}
.qty button {
  transition: 0.2 linear;
  &:active {
    scale: 0.9;
  }
}
.ProductsPage {
  transform: translateY(6rem);
}
.Checkout {
  .form-control::placeholder {
    color: white;
    opacity: 0.8;
  }
}
.profilePage .btnUploadProfile {
  transition: 0.2s linear;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black !important;
  }
  &:active {
    scale: 0.9;
  }
}
.navigateInfo .LinkNavigate {
  padding: 6px 10px;
  transition: 0.2s linear;
  &:hover {
    margin-left: 4px;
    box-shadow: 0px 0px 10px white;
  }
}
.navigateInfo .activeAside {
  box-shadow: 0px 0px 10px white;
}
.btnBackToShop{
  transition: 0.1s linear;
  &:hover{
    box-shadow: 0px 0px 6px white;
  }
  &:active{
    scale: 0.9;
  }
}
/* Make responsive  */
@media screen and (max-width: 1200px) {
  .nav-bar {
    position: fixed;
    top: -38%;
    height: 0vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: var(--header-width);
    flex-direction: column;
    justify-content: start !important;
    background-color: rgba(0, 0, 0, 0.575);
    gap: 3rem;
    padding: 0 !important;
    transition: 0.3s linear;
    overflow: hidden;
    opacity: 0;
  }
  .nav-bar.open {
    height: 100vh;
    padding: 8rem 0rem !important;
    opacity: 1;
  }
  .btnMenu {
    width: 42px;
    height: 42px;
    padding: 0px 0px 1px 0px;
    /* transition: 0.2s linear; */
    transform: translateY(-8px);
    i {
      transition: 0.1s linear;
    }
  }
  .btnMenu:active i {
    transform: rotateX(80deg);
  }
  .logo p {
    font-size: 30px !important;
  }
  .btnSubmit {
    padding: 7px !important;
    width: 130px;
  }
  .iconContact button i {
    font-size: 18px !important;
  }
  .closeDetail {
    top: 8.3%;
    left: 83% !important;
  }
  .baseImage {
    width: 300px !important ;
    height: 300px !important;
  }
  .childImage {
    width: 80px;
    height: 80px;
  }
  .infoProfile {
    left: 21% !important;
  }
  .ImgProfile {
    width: 35% !important;
  }
}
@media screen and (max-width: 992px) {
  .nav-bar {
    position: fixed;
    top: -38%;
    height: 0vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: var(--header-width);
    /* width: (var(--header-width)); */
    flex-direction: column;
    justify-content: start !important;
    background-color: rgba(0, 0, 0, 0.575);
    gap: 3rem;
    padding: 0 !important;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: 0.4s linear;
    overflow: hidden;
    opacity: 0;
  }
  .nav-bar.open {
    height: 100vh;
    padding: 8rem 0rem !important;
    opacity: 1;
  }
  .btnMenu {
    width: 42px;
    height: 42px;
    padding: 0px 0px 1px 0px;
    /* transition: 0.2s linear; */
    transform: translateY(-8px);
    i {
      transition: 0.2s linear;
    }
  }
  .btnMenu:active i {
    transform: rotateX(80deg);
  }
  .logo p {
    font-size: 30px !important;
  }
  .hide-scrollbar {
    max-height: 100%;
  }
  .btnSubmit {
    padding: 7px !important;
    width: 130px;
  }
  .iconContact button i {
    font-size: 18px !important;
  }
  .closeDetail {
    top: 5%;
    left: 90.2% !important;
  }
  .productDetail {
    position: absolute;
    top: 2%;
  }
  .showdetail {
    overflow-y: auto;
  }
  .childImage {
    width: 65px;
    height: 65px;
  }
  .qty {
    width: 90px !important;
  }
  .ImgProfile {
    width: 40% !important;
  }
  .infoProfile {
    left: 11% !important;
  }
}
@media screen and (max-width: 850px) {
  .productDetail {
    width: 95%;
  }
  .childImage {
    width: 65px;
    height: 65px;
  }
}
@media screen and (max-width: 770px) {
  .closeDetail {
    top: 3%;
    left: 88% !important;
  }
  .productDetail {
    width: 95%;
  }
  .childImage {
    width: 100px;
    height: 100px;
  }
  .ImgProfile {
    width: 38% !important;
  }
  .infoProfile {
    left: 15% !important;
  }
  .hieghtAside {
    width: 800px;
    height: 20vh !important;
  }
  .navigateInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 8px 10px;
  }
  .navigateInfo .LinkNavigate {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.375);
    i {
      margin: 0 !important;
    }
    &:hover {
      margin: 0 !important;
      box-shadow: 0px 0px 16px white;
    }
  }
  .navigateInfo .activeAside {
    box-shadow: 0px 0px 16px white;
  }
  .asideNavigateInfo {
    border: none !important;
    backdrop-filter: blur(0) !important;
  }
}
@media screen and (max-width: 768px) {
  .hieghtAside {
    height: 30vh !important;
  }
  .navigateInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 8px 10px;
  }
  /* .navigateInfo .LinkNavigate{
    background-color: white;
    cursor:  pointer !important;
  } */
  .asideNavigateInfo {
    border: none !important;
  }
  /* .profilePage{
    transform: translateY("0") !important;
  } */
}
@media screen and (max-width: 580px) {
  .closeDetail {
    left: 86% !important;
  }
  .productDetail {
    width: 95%;
  }
}
@media screen and (max-width: 512px) {
  .iconContact {
    width: 250px;
  }
  .btnSubmit {
    padding: 7px !important;
    width: 130px;
  }
  .closeDetail {
    left: 84% !important;
  }
  .productDetail {
    width: 95%;
  }
  .baseImage {
    height: 250px !important;
  }
  .childImage {
    width: 60px;
    height: 60px;
  }
  .qty {
    width: 100px !important;
    button {
      padding: 1px 5px !important;
    }
  }
  .ImageCart {
    width: 60px;
    height: 60px;
  }
  .name-item p {
    font-size: 14px !important;
  }
  .price p {
    font-size: 18px !important;
  }
  .btnAction button {
    scale: 0.8;
  }
  .infoProduct {
    font-size: 16px !important;
  }
  .ImgProfile {
    width: 42% !important;
  }
  .infoProfile {
    left: 11.4% !important;
  }
}
@media screen and (max-width: 450px) {
  .closeDetail {
    left: 81.8% !important;
  }
  .baseImage {
    width: 230px !important;
    height: 250px !important;
  }
  .ImageCart {
    width: 50px;
    height: 50px;
  }
  .qty {
    width: 80px !important;
  }
  .infoProduct {
    font-size: 15px !important;
  }
  .ImgProfile {
    width: 50% !important;
  }
  .infoProfile {
    left: 4% !important;
  }
}
@media screen and (max-width: 412px) {
  .infoProfile {
    left: 0% !important;
  }
}
